{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h1>Connexion</h1>
	<form action="{{ path('security_login') }}" method="post">
		<div>
			<div class="form-group">
				<input placeholder="Nom d'utilisateur..." type="text" value="{{last_username}}" name="username" id="inputUsername" class="form-control col-lg-6" required autofocus>
			</div>
			<div class="form-group">
				<input placeholder="Mot de passe..." type="password" name="password" id="inputPassword" class="form-control col-lg-6" required>
			</div>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" name="_remember_me">
					Se souvenir de moi
				</label>
			</div>

			{% if error %}
				<div class="text-danger col-lg-6">Identifiants de connexion invalides</div>
			</br>
			{# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
		{% endif %}
		<button class="btn btn-lg btn-primary" type="submit">
			Se Connecter
		</button>

	</form>
{% endblock %}
