{% extends 'base.html.twig' %}


{% block title %}Bienvenue chez Barbiton{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Page d'accueil </h1>
</div>
<p>Pour faire fonctionner le projet: </p>
<p>1 - Créer des unités directement dans la base de données </p>
<p>                                  2 - Créer des ingrédients directement dans la base de données </p>
<p>                                  3 - Créer des catégories à l'aide du bouton dans la navbar</p>


{% endblock %}
